body {
  margin: 0;
}

.App {
  background-image: url('./assets/images/background_desktop.jpg');
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 42px;
  text-align: center;
  margin-top: 25px;
}

h2 {
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.button-container {
  text-align: center;
  height: 40px;
  margin-bottom: 20px;
}

.new-game-button {
  background-color: #4da2c6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.new-game-button:hover {
  background-color: #34738d;
}
